body{
  background-color: black;
  font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.inline-block {
  background-color: black;
  text-align: left;
  padding: 50px;
}
aside {
  display: inline-block;
  margin-right: 800px;
  margin-left: 50px;
}
.nav-names {
  list-style: none;
  /* margin-left: 460px;*/
  padding-top: 8px;
  color: white;
}
.nav-names li {
  display: inline-block;
}
.nav-names li a {
  text-decoration: none;
  color: white;
}
footer {
  display: inline-block;
  color: white;
  margin-left: 500px;
}

#fb {
  margin-left: 595px;
}
#link {
  margin-left: 100px;
}
#logo {
  padding-right: 50px;
}
.info {
  padding-left: 10px;
  padding-right: 10px;
}
/* .nav {
  float: center;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
/* .inline-block {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.inline-block {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
} */
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
