body {
  background-color: black;
}

.inline-block {
  background-color: black;
  text-align: center;
  padding: 20px;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.nav {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}